<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongji.rjsoft.mapper.CmsColumnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rongji.rjsoft.entity.content.CmsColumn">
        <id column="column_id" property="columnId"/>
        <result column="column_name" property="columnName"/>
        <result column="parent_id" property="parentId"/>
        <result column="ancestors" property="ancestors"/>
        <result column="image_url" property="imageUrl"/>
        <result column="del_flag" property="delFlag"/>
        <result column="dept_id" property="deptId"/>
        <result column="template_id" property="templateId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getPage" resultType="com.rongji.rjsoft.vo.content.CmsColumnVo">
        select
        t1.column_id,
        t1.column_name,
        t2.column_name as parentName,
        t1.image_url,
        t1.dept_id
        from
        cms_column as t1
        left join cms_column as t2 on
        t1.parent_id = t2.column_id
        <where>
            <if test="param.columnId != null">
                t1.column_id = #{param.columnId}
            </if>
            <if test="param.columnName != null and param.columnName != ''">
                and t1.column_name like concat ('%', #{param.columnName}, '%')
            </if>
            <if test="1==1">
                and t1.del_flag = 0
            </if>
        </where>
    </select>

    <select id="selectChildrenByColumnId" resultMap="BaseResultMap">
        select column_Id, parent_id, ancestors
        from cms_column
        where find_in_set(#{columnId}, ancestors)
    </select>

    <update id="batchUpdateChildreAncestors">
        update cms_column set ancestors =
        <foreach collection="list" item="item" index="index" separator=" " open="case column_id" close="end">
            when #{item.columnId} then #{item.ancestors}
        </foreach>
        where column_id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.columnId}
        </foreach>
    </update>

    <update id="batchDeleteColumn">
        update cms_column set del_flag = 1 where column_id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="selectParentTreeNode" resultType="com.rongji.rjsoft.vo.content.CmsColumnAllTree">
        select column_Id, column_name, parent_id
        from cms_column
        where column_id = #{parentId}
    </select>

    <select id="getColumnTreeBySite" resultType="com.rongji.rjsoft.vo.content.CmsColumnAllTree">
        SELECT
        t1.column_Id,
        t1.column_name,
        t1.parent_id
        FROM
        cms_column AS t1
        INNER JOIN cms_site_column AS t2 ON t1.column_id = t2.column_id
        <where>
            <if test="siteId != null">
                t2.site_id = #{siteId}
            </if>
            <if test="1 == 1">
                and find_in_set(#{deptId}, t1.dept_id)
            </if>
        </where>
        order by t1.parent_id
    </select>

</mapper>
