<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongji.rjsoft.mapper.CmsColumnDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rongji.rjsoft.entity.content.CmsColumnDept">
        <id column="column_id" property="columnId"/>
        <result column="dept_id" property="deptId"/>
    </resultMap>

    <delete id="deleteBatch">
        delete from cms_column_dept where column_id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getPage" resultType="com.rongji.rjsoft.vo.content.CmsColumnDeptVo">
        select
        t2.column_name as columnName,
        t3.dept_name as deptName
        from
        cms_column_dept as t1
        left join cms_column as t2 on
        t1.column_id = t2.column_id
        left join sys_dept as t3 on
        t1.dept_id = t3.dept_id
        <where>
            t1.dept_id = #{param.deptId}
            <if test=" null != param.columnId">
                and t1.column_id = #{columnId}
            </if>
        </where>
    </select>

</mapper>
