<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongji.rjsoft.mapper.CmsColumnDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rongji.rjsoft.entity.content.CmsColumnDept">
        <id column="column_id" property="columnId"/>
        <result column="dept_id" property="deptId"/>
    </resultMap>

    <insert id="batchInsert">
        insert into cms_column_dept (column_id, dept_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.columnId}, #{item.deptId})
        </foreach>
    </insert>

    <delete id="deleteBatch">
        delete from cms_column_dept where column_id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getPage" resultType="com.rongji.rjsoft.vo.content.CmsColumnDeptVo">
        select
        t1.column_id as columnId,
        t2.column_name as columnName,
        t3.dept_name as deptName,
        t4.site_name
        from
        cms_column_dept as t1
        left join cms_column as t2 on
        t1.column_id = t2.column_id
        left join sys_dept as t3 on
        t1.dept_id = t3.dept_id
        left join cms_site as t4 on
        t2.site_id = t4.site_id
        <where>
            t1.dept_id = #{param.deptId}
            <if test=" null != param.columnId">
                and t1.column_id = #{columnId}
            </if>
        </where>
    </select>

    <select id="getList" resultType="com.rongji.rjsoft.vo.content.CmsColumnDeptVo">
        select
        t1.column_id as columnId,
        t1.dept_id,
        t2.column_name as columnName,
        t3.site_name as siteName
        from
        cms_column_dept as t1
        left join cms_column as t2 on
        t1.column_id = t2.column_id
        left join cms_site as t3 on
        t3.site_id = t2.site_id
        <where>
            <if test="null != param1.columnId">
                t1.column_id = #{param1.columnId}
            </if>
            <if test="null != param2">
                and t1.dept_id in
                <foreach collection="param2" index="index" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
