<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongji.rjsoft.mapper.CmsFinalArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rongji.rjsoft.entity.content.CmsFinalArticle">
        <id column="site_id" property="siteId"/>
        <result column="column_id" property="columnId"/>
        <result column="article_id" property="articleId"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <insert id="batchInsert">
        insert into cms_final_article (site_id, column_id, article_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.siteId}, #{item.columnId}, #{item.articleId})
        </foreach>
    </insert>

    <select id="listOfArticleRef" resultType="com.rongji.rjsoft.vo.content.CmsArticleRefVo">
        SELECT
            t1.article_id,
            t1.site_id,
            t2.site_name,
            t1.column_id,
            t3.column_name
        FROM
            cms_final_article AS t1
                INNER JOIN cms_site AS t2 ON t1.site_id = t2.site_id
                INNER JOIN cms_column AS t3 ON t1.column_id = t3.column_id
        where
            t1.article_id = #{articleId}
    </select>

    <update id="deleteArticle">
        update cms_final_article set del_flag = 1 where
        <foreach collection="array" item="item" index="index" separator="or">
            (site_id = #{item.siteId} and column_id = #{item.columnId} and article_id = #{item.articleId})
        </foreach>
    </update>

</mapper>
