<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongji.rjsoft.mapper.CmsFinalArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rongji.rjsoft.entity.content.CmsFinalArticle">
        <id column="site_id" property="siteId"/>
        <result column="column_id" property="columnId"/>
        <result column="article_id" property="articleId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="published" property="published"/>
        <result column="original" property="original"/>
    </resultMap>

    <insert id="batchInsert">
        insert into cms_final_article (site_id, column_id, article_id, original) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.siteId}, #{item.columnId}, #{item.articleId}, #{item.original})
        </foreach>
    </insert>

    <select id="listOfArticleRef" resultType="com.rongji.rjsoft.vo.content.CmsArticleRefVo">
        SELECT t1.article_id,
               t1.site_id,
               t2.site_name,
               t1.column_id,
               t3.column_name
        FROM cms_final_article AS t1
                 INNER JOIN cms_site AS t2 ON t1.site_id = t2.site_id
                 INNER JOIN cms_column AS t3 ON t1.column_id = t3.column_id
        where t1.article_id = #{articleId} and t1.del_flag = 0
    </select>

    <update id="deleteArticle">
        update cms_final_article set del_flag = 1 where
        <foreach collection="array" item="item" index="index" separator="or">
            (site_id = #{item.siteId} and column_id = #{item.columnId} and article_id = #{item.articleId})
        </foreach>
    </update>

    <select id="getArticlePageByColumn" resultType="com.rongji.rjsoft.vo.content.CmsArticlePortalVo">
        SELECT
        t2.article_id as articleId,
        t2.article_title as articleTitle,
        t2.create_time as createTime
        FROM
        cms_final_article AS t1
        INNER JOIN cms_article AS t2 ON t1.article_id = t2.article_id
        <if test="null != deptId">
            LEFT JOIN cms_article_dept AS t3 ON t2.article_id = t3.dept_id
        </if>
        WHERE
         t1.site_id = #{siteId}
        AND t1.published = 1
        AND t1.column_id IN
        <foreach collection="columnIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <choose>
            <when test="null == deptId">
                AND t1.read_type = 0
            </when>
            <otherwise>
                and (t1.read_type &lt; 2 or (t1.read_type = 2 and t3.dept_id = #{deptId})
            </otherwise>
        </choose>
        AND t1.del_flag = 0
        ORDER BY t2.top, t2.order_num, t2.create_by desc
    </select>

    <select id="getArticlePageByTag" resultType="com.rongji.rjsoft.vo.content.CmsArticlePortalVo">
        SELECT
        t2.article_id as articleId,
        t2.article_title as articleTitle,
        t2.create_time as createTime
        FROM
        cms_final_article AS t1
        INNER JOIN cms_article AS t2 ON t1.article_id = t2.article_id
        <if test="null != deptId">
            LEFT JOIN cms_article_dept AS t3 ON t2.article_id = t3.dept_id
        </if>
        WHERE
        t1.site_id = #{siteId}
        AND t1.published = 1
        AND t1.article_id IN
        <foreach collection="tagIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND t1.del_flag = 0
        <choose>
            <when test="null == deptId">
                AND t1.read_type = 0
            </when>
            <otherwise>
                and (t1.read_type &lt; 2 or (t1.read_type = 2 and t3.dept_id = #{deptId})
            </otherwise>
        </choose>
        ORDER BY t2.top, t2.order_num, t2.create_by desc
    </select>

    <select id="getArticlesByCategory" resultType="com.rongji.rjsoft.vo.content.CmsArticlePortalVo">
        SELECT
        t2.article_id as articleId,
        t2.article_title as articleTitle,
        t2.create_time as createTime
        FROM
        cms_final_article AS t1
        INNER JOIN cms_article AS t2 ON t1.article_id = t2.article_id
        <if test="null != deptId">
            LEFT JOIN cms_article_dept AS t3 ON t2.article_id = t3.dept_id
        </if>
        WHERE
        t1.site_id = #{param.siteId}
        AND t1.published = 1
        AND t2.category_id = #{param.categoryId}
        AND t1.del_flag = 0
        <choose>
            <when test="null == deptId">
                AND t1.read_type = 0
            </when>
            <otherwise>
                and (t1.read_type &lt; 2 or (t1.read_type = 2 and t3.dept_id = #{deptId})
            </otherwise>
        </choose>
        ORDER BY t2.top, t2.order_num, t2.create_by desc
    </select>

    <select id="getArticlesBySlider" parameterType="com.rongji.rjsoft.query.content.CmsSliderArticleQuery" resultType="com.rongji.rjsoft.vo.content.CmsArticlePortalVo">
        SELECT
            t2.article_id as articleId,
            t2.article_title as articleTitle,
            t2.create_time as createTime
        FROM
            cms_final_article AS t1
                INNER JOIN cms_article AS t2 ON t1.article_id = t2.article_id
        <if test="null != deptId">
            LEFT JOIN cms_article_dept AS t3 ON t2.article_id = t3.dept_id
        </if>
        WHERE
            t1.site_id = #{param.siteId}
          AND t1.published = 1
          AND t2.slider = 1
          AND t1.del_flag = 0
        <choose>
            <when test="null == deptId">
                AND t1.read_type = 0
            </when>
            <otherwise>
                and (t1.read_type &lt; 2 or (t1.read_type = 2 and t3.dept_id = #{deptId})
            </otherwise>
        </choose>
        ORDER BY t2.top, t2.order_num, t2.create_by desc
    </select>

    <select id="getPublishArticel" parameterType="string" resultType="com.rongji.rjsoft.vo.content.CmsArticleContentVo">
        SELECT
        t3.site_id as siteId, t1.article_id as articleId, t1.article_title as articleTitle,
               t1.source, t1.publish_time as publishTime, t1.author_id as authorId,
               t1.author_name as authorName, t1.files, t1.article_url as articleUrl,
               t1.keywords, t1.description, t2.content, t3.column_id as columnId
        FROM
        cms_article AS t1
        INNER JOIN cms_article_content AS t2 ON t1.article_id = t2.article_id
        INNER JOIN cms_final_article AS t3 ON t1.article_id = t3.article_id
        WHERE
        t3.published = 0
        AND t1.publish_time &lt;= #{time}
        AND t1.state = 3
        AND t1.publish_type = 1
        AND t3.del_flag = 0
    </select>

    <select id="getSingleCurrentPublishArticel" resultType="com.rongji.rjsoft.vo.content.CmsArticleContentVo">
        SELECT
        t3.site_id as siteId, t1.article_id as articleId, t1.article_title as articleTitle,
        t1.source, t1.publish_time as publishTime, t1.author_id as authorId,
        t1.author_name as authorName, t1.files, t1.article_url as articleUrl,
        t1.keywords, t1.description, t2.content, t3.column_id as columnId
        FROM
        cms_article AS t1
        INNER JOIN cms_article_content AS t2 ON t1.article_id = t2.article_id
        INNER JOIN cms_final_article AS t3 ON t1.article_id = t3.article_id
        WHERE
        t1.article_id = #{articleId}
        AND t3.published = 0
        AND t1.publish_type = 0
        AND t3.del_flag = 0
    </select>

    <select id="getCurrentPublishArticel" resultType="com.rongji.rjsoft.vo.content.CmsArticleContentVo">
        SELECT
        t3.site_id as siteId, t1.article_id as articleId, t1.article_title as articleTitle,
        t1.source, t1.publish_time as publishTime, t1.author_id as authorId,
        t1.author_name as authorName, t1.files, t1.article_url as articleUrl,
        t1.keywords, t1.description, t2.content, t3.column_id as columnId
        FROM
        cms_article AS t1
        INNER JOIN cms_article_content AS t2 ON t1.article_id = t2.article_id
        INNER JOIN cms_final_article AS t3 ON t1.article_id = t3.article_id
        WHERE
        t3.published = 0
        AND t1.article_id in
        <foreach collection="list" item="articleId" index="index" open="(" separator="," close=")">
            #{articleId}
        </foreach>
        AND t1.state = 3
        AND t1.publish_type = 0
        AND t3.del_flag = 0
    </select>

    <update id="batchPublished">
        update cms_final_article set published = 1 where
        <foreach collection="list" item="item" index="index" separator="or">
            (site_id = #{item.siteId} and column_id = #{item.columnId} and article_id = #{item.articleId})
        </foreach>
    </update>

    <select id="getArticlesByDept" resultType="com.rongji.rjsoft.vo.content.CmsArticlePortalVo">
        SELECT
        t2.article_id as articleId,
        t2.article_title as articleTitle,
        t2.create_time as createTime
        FROM
        cms_final_article AS t1
        INNER JOIN cms_article AS t2 ON t1.article_id = t2.article_id
        LEFT JOIN cms_article_dept AS t3 ON t2.article_id = t3.dept_id
        WHERE
        t1.site_id = #{param.siteId}
        AND t1.published = 1
        AND t3.dept_id = #{deptId}
        AND t1.del_flag = 0
        ORDER BY t2.top, t2.order_num, t2.create_by desc
    </select>

</mapper>
