<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongji.rjsoft.mapper.CmsSiteColumnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rongji.rjsoft.entity.content.CmsSiteColumn">
        <id column="site_id" property="siteId" />
        <result column="column_id" property="columnId" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <insert id="batchInsert">
        insert into cms_site_column (site_id, column_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.siteId}, #{item.columnId})
        </foreach>
    </insert>

    <update id="deleteSiteColumnByColumnId">
        update cms_site_column set del_flag = 1 where column_id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="deleteSiteColumnBySiteId">
        update cms_site_column set del_flag = 1 where site_id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>
