<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongji.rjsoft.mapper.CmsSiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rongji.rjsoft.entity.content.CmsSite">
        <id column="site_id" property="siteId"/>
        <result column="site_name" property="siteName"/>
        <result column="description" property="description"/>
        <result column="parent_id" property="parentId"/>
        <result column="ancestors" property="ancestors"/>
        <result column="site_url" property="siteUrl"/>
        <result column="order_num" property="orderNum"/>
        <result column="site_file" property="siteFile"/>
        <result column="del_flag" property="delFlag"/>
        <result column="dept_id" property="deptId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getPage" resultType="com.rongji.rjsoft.vo.content.CmsSiteVo">
        select site_id, site_name, description, parent_id, site_url, order_num, site_file, del_flag, dept_id
        from cms_site
        <where>
            <if test="param.siteId != null">
                site_id = #{param.siteId}
            </if>
            <if test="param.siteName != null and param.siteName != ''">
                and site_name like concat ('%', #{param.siteName}, '%')
            </if>
        </where>
        order by order_num, create_by desc
    </select>

    <select id="selectChildrenBySiteId" resultMap="BaseResultMap">
        select site_id, parent_id, ancestors
        from cms_site
        where find_in_set(#{siteId}, ancestors)
    </select>

    <update id="batchUpdateChildreAncestors">
        update cms_site set ancestors =
        <foreach collection="list" item="item" index="index" separator=" " open="case site_id" close="end">
            when #{item.siteId} then #{item.ancestors}
        </foreach>
        where site_id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.siteId}
        </foreach>
    </update>

    <update id="deleteSites">
        update cms_site set del_flag = 1
        where site_id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="selectAllTree" resultType="com.rongji.rjsoft.vo.content.CmsSiteAllTreeVo">
        select site_id, site_name, description, parent_id
        from cms_site
        where find_in_set(#{siteId}, ancestors)
        order by parent_id
    </select>


    <select id="getSitesByColumn" resultType="com.rongji.rjsoft.vo.content.CmsSiteTreeVo">
        select
            t2.site_id,
            t2.site_name,
            t2.parent_id
        from
            cms_site_column as t1
                inner join cms_site as t2 on t1.site_id = t2.site_id
        where t1.column_id = #{columnId}
    </select>

</mapper>
