<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongji.rjsoft.mapper.CmsTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rongji.rjsoft.entity.content.CmsTemplate">
        <id column="template_id" property="templateId" />
        <result column="template_name" property="templateName" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="getList" parameterType="com.rongji.rjsoft.query.content.CmsTemplateQuery" resultType="com.rongji.rjsoft.vo.content.CmsTemplateVo">
        select
        t1.template_id as templateId,
        t1.template_name as templateName,
        t2.file_url,
        t2.file_Name,
        t2.file_type
        from
        cms_template as t1
        inner join sys_common_file as t2 on
        t1.template_id = t2.table_id
        <where>
            <if test="null != templateName and templateName != ''">
              and t1.template_name like concat('%', #{templateName}, '%')
            </if>
        </where>
    </select>

    <select id="getTemplateByColumnId" resultType="com.rongji.rjsoft.entity.content.CmsTemplate">
        select
            t1.template_id,
            t1.template_name
        from
            cms_template as t1
                inner join cms_column as t2 on
                t1.template_id = t2.template_id
        where t2.column_id = #{columnId}
    </select>

</mapper>
