<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongji.rjsoft.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rongji.rjsoft.entity.system.SysRole">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="role_key" property="roleKey"/>
        <result column="role_sort" property="roleSort"/>
        <result column="data_scope" property="dataScope"/>
        <result column="menu_check_strictly" property="menuCheckStrictly"/>
        <result column="dept_check_strictly" property="deptCheckStrictly"/>
        <result column="status" property="status"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <sql id="selectRoleVo">
        select distinct r.role_id,
                        r.role_name,
                        r.role_key,
                        r.role_sort,
                        r.data_scope,
                        r.menu_check_strictly,
                        r.dept_check_strictly,
                        r.status,
                        r.del_flag,
                        r.create_time,
                        r.remark
        from ${prefix}sys_role r
    </sql>

    <sql id="selectRoleInfoVo">
        select distinct r.role_id,
                        r.role_name,
                        r.role_key,
                        r.role_sort,
                        r.data_scope,
                        r.menu_check_strictly,
                        r.dept_check_strictly,
                        r.status,
                        r.del_flag,
                        r.create_time,
                        r.remark
        from ${prefix}sys_role r
                 left join ${prefix}sys_user_role ur on ur.role_id = r.role_id
                 left join ${prefix}sys_user u on u.user_id = ur.user_id
                 left join ${prefix}sys_dept d on u.dept_id = d.dept_id
    </sql>

    <select id="checkRoleByRoleName" resultType="com.rongji.rjsoft.entity.system.SysRole">
        select role_id
        from ${prefix}sys_Role
        where role_name = #{roleName} limit 1
    </select>

    <select id="checkRoleByRoleKey" resultType="com.rongji.rjsoft.entity.system.SysRole">
        select role_id
        from ${prefix}sys_Role
        where role_key = #{roleKey} limit 1
    </select>

    <select id="pagesOfRole" resultType="com.rongji.rjsoft.vo.system.role.SysRoleVo">
        <include refid="selectRoleVo"/>
        where r.del_flag = 0
        <if test="params.roleName != null and params.roleName != ''">
            AND r.role_name like concat('%', #{params.roleName}, '%')
        </if>
        <if test="params.status != null and params.status != ''">
            AND r.status = #{params.status}
        </if>
        <if test="params.roleKey != null and params.roleKey != ''">
            AND r.role_key like concat('%', #{params.roleKey}, '%')
        </if>
        <if test="params.beginTime != null"><!-- 开始时间检索 -->
            and date_format(r.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null"><!-- 结束时间检索 -->
            and date_format(r.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <!-- 数据范围过滤 -->
        <!-- ${params.dataScope}-->
        order by r.role_sort
    </select>

    <select id="getRoleInfoById" parameterType="long" resultType="com.rongji.rjsoft.vo.system.role.SysRoleInfoVo">
        <include refid="selectRoleInfoVo"/>
        where r.role_id = #{roleId}
    </select>

    <select id="getRoleKeysByUserId" parameterType="long" resultType="String">
        select distinct r.role_key
        from ${prefix}sys_role r
                 left join ${prefix}sys_user_role ur on ur.role_id = r.role_id
                 left join ${prefix}sys_user u on u.user_id = ur.user_id
                 left join ${prefix}sys_dept d on u.dept_id = d.dept_id
        where ur.user_id = #{userId}
          and r.del_flag = 0
    </select>

    <select id="listOfRole" parameterType="com.rongji.rjsoft.query.system.role.RoleSelectQuery"
            resultType="com.rongji.rjsoft.vo.system.role.SysRoleSelectVo">
        select role_id, role_name
        from ${prefix}sys_role
        <where>
            <if test="roleName != null and roleName != ''">
                role_name like concat(#{roleName}, '%')
            </if>
        </where>
    </select>

    <insert id="saveRole" parameterType="com.rongji.rjsoft.entity.system.SysRole" useGeneratedKeys="true" keyProperty="roleId">
        insert into ${prefix}sys_role(
        <if test="roleId != null and roleId != 0">role_id,</if>
        <if test="roleName != null and roleName != ''">role_name,</if>
        <if test="roleKey != null and roleKey != ''">role_key,</if>
        <if test="roleSort != null and roleSort != ''">role_sort,</if>
        <if test="dataScope != null and dataScope != ''">data_scope,</if>
        <if test="menuCheckStrictly != null">menu_check_strictly,</if>
        <if test="deptCheckStrictly != null">dept_check_strictly,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="roleId != null and roleId != 0">#{roleId},</if>
        <if test="roleName != null and roleName != ''">#{roleName},</if>
        <if test="roleKey != null and roleKey != ''">#{roleKey},</if>
        <if test="roleSort != null and roleSort != ''">#{roleSort},</if>
        <if test="dataScope != null and dataScope != ''">#{dataScope},</if>
        <if test="menuCheckStrictly != null">#{menuCheckStrictly},</if>
        <if test="deptCheckStrictly != null">#{deptCheckStrictly},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        #{createTime}
        )
    </insert>

</mapper>
