<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="SiteName" content="河南省司法厅">
    <meta name="SiteDomain" content="sft.henan.gov.cn">
    <meta name="ColumnName" content="司法厅">
    <meta name="ColumnType" content="司法厅">
    <meta name="ArticleTitle" content="邬勇雷赴三明市调研指导基层司法行政工作">
    <meta name="PubDate" content="2021-03-15 12:02">
    <meta name="ContentSource" content="厅办公室">
    <meta name="KeyWords" content="">
    <meta name="Author" content="">
    <meta name="Desctiption" content="">
    <meta name="Image" content="http://sft.fujian.gov.cn/zwgk/ywbd/sft/202103/W020210315437742908269.jpg">
    <meta name="Url" content="http://sft.fujian.gov.cn/zwgk/ywbd/sft/202103/t20210315_5548761.htm">
    <title>
        邬勇雷赴三明市调研指导基层司法行政工作_司法厅_福建省司法厅
    </title>
    <link href="/css/sft_ou.css" rel="stylesheet" type="text/css">
    <link href="/css/sft_golbal.css" rel="stylesheet" type="text/css">
    <link href="/css/hnsf.css" rel="stylesheet" type="text/css">
    <style>
        .xl_btn_btn {
            width: 260px;
        }

        .box1 img,
        .box1 p img,
        .box1 div img {
            width: auto;
            max-width: 700px;
        }

        div.box1 {
            font-family: "宋体";
            font-size: 14px;
        }

        div.box1 p {
            margin-bottom: 6px;
        }
    </style>
</head>

<body ms-controller="windowRoot">
<div class="w-1000">
    <div class="top_line clearflx">
        <div class="weather fl" style="width:auto;">
            <span ms-text="now|date('yyyy年MM月dd日 EEEE')" style="margin-right:10px;"></span>
            <iframe width="500" height="15" frameborder="0" scrolling="no" hspace="0"
                    src="https://i.tianqi.com/?c=code&a=getcode&id=11&icon=1"></iframe>
        </div>
        <div class="top_line_r fr">
            <a href="javascript:void(0);" ms-click="$setHome($event,'http://sft.fujian.gov.cn')">设为首页</a>|
            <a href="javascript:void(0);" ms-visible="!isFirefox"
               ms-click="$addFav($event,'http://sft.fujian.gov.cn','福建省司法厅')">收藏本站</a>
            <a href="http://sft.fujian.gov.cn" ms-visible="isFirefox" title='福建省司法厅' rel="sidebar">收藏本站</a>|
            <a href="/bzzx/rssdy/" target="_blank">RSS订阅</a>|
            <a href="/bzzx/sjmh/" target="_blank">手机门户</a>
        </div>
    </div>
    <div class="banner clearflx">
        <div class="sft_logo fl">
            <img src="/img/images/201609_fjsft_index_tlogo.png" width="331" height="87" alt=""/>
        </div>
        <div class="search  fr">

            <div class="sesrch_btn fl">
                <form action="/search/" target="_blank">
                    <input type="hidden" id="searchtype" name="tab" value="0"/>
                    <input name="key" type="text" class="gzcy_text fl" placeholder="请输入关键字"/>
                    <input type="submit" class="gzcy_inp_btn fl" value="搜索"/>
                </form>
            </div>
            <span class="fl" style="margin-left:8px;">
            <a href="javascript:void(0);" onclick="javascript:window.open('/search/adv.htm')">高级
                <br>搜索</a>
        </span>
        </div>
    </div>
    <div class="nav clearflx" ms-controller="tabMenu">
        <ul class="list-nav">
            <li class="nav_icon poi" ms-mouseover="$tog(0)" ms-mouseleave="$back">
                <a class="navs" href="/">网站首页</a>
            </li>
            <li class="nav_icon2 poi" ms-mouseover="$tog(1)" ms-mouseleave="$back">
                <a class="navs" href="http://jyj.sft.fujian.gov.cn/" target="_blank">监狱管理</a>
                <div class="xl_sft_ou_box" style="display:none;z-index:9999;">
                    <div class="xl_sft_sfyw">
                        <ul class="clearflx">
                            <li class="xl_sft_sfyw_icon">
                                <a href="http://jyj.sft.fujian.gov.cn/" target="_blank">监狱管理</a>
                            </li>
                            <li class="xl_sft_sfyw_icon2">
                                <a href="/sfyw/jdgl/" target="_blank">戒毒管理</a>
                            </li>
                            <li class="xl_sft_sfyw_icon4">
                                <a href="/sfyw/lsgl/" target="_blank">律师工作</a>
                            </li>
                            <li class="xl_sft_sfyw_icon5">
                                <a href="/sfyw/gzgl/" target="_blank">公证工作</a>
                            </li>
                            <li class="xl_sft_sfyw_icon6">
                                <a href="/sfyw/rmtj/" target="_blank">人民调解</a>
                            </li>
                            <li class="xl_sft_sfyw_icon7">
                                <a href="/sfyw/jzbj/" target="_blank">社区矫正</a>
                            </li>
                            <li class="xl_sft_sfyw_icon8">
                                <a href="/sfyw/flyz/" target="_blank">法律援助</a>
                            </li>
                            <li class="xl_sft_sfyw_icon10">
                                <a href="/sfyw/sfjd/" target="_blank">司法鉴定</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav_icon3 poi" ms-mouseover="$tog(2)" ms-mouseleave="$back">
                <a class="navs" href="/zwgk/">政务公开</a>
            </li>
            <li class="nav_icon4 poi" ms-mouseover="$tog(3)" ms-mouseleave="$back">
                <a class="navs"
                   href="http://zwfw.fujian.gov.cn/service.action?COLLCC=3882036830&fn=proDept&siteUnid=top&categoryUnid=A0EE5E7F70BBF85AC3DEEEBB17A1A10C">办事服务</a>
            </li>
            <li class="nav_icon5 poi" ms-mouseover="$tog(4)" ms-mouseleave="$back">
                <a class="navs" href="/gzcy/">互动交流</a>
            </li>
            <li class="nav_icon6 poi" ms-mouseover="$tog(5)" ms-mouseleave="$back">
                <a class="navs" href="/bzzx/">帮助中心</a>
            </li>
        </ul>
    </div>
    <div class="centent mar-T20">
        <div class="subnav">
            <p>当前位置：
                <a href="../../../../../.." title="首页" class="CurrChnlCls">首页</a>&nbsp;>&nbsp;<a
                        href="../../../../../.."
                        title="政务公开"
                        class="CurrChnlCls">政务公开</a>&nbsp;>&nbsp;<a
                        href="../../../.." title="司法信息" class="CurrChnlCls">司法信息</a>&nbsp;>&nbsp;<a href="../../../.."
                                                                                                    title="司法厅"
                                                                                                    class="CurrChnlCls">司法厅</a>
            </p>
        </div>
        <div class="xl_main">
            <div class="n-tit">
                <h3 th:text="${article.articleTitle}"></h3>
                <h4></h4>
                <h5>
                    发布时间：<span th:text="${#temporals.format(article.publishTime, 'yyyy-MM-dd HH:mm:ss')}"></span> &nbsp;&nbsp;
                    来源：<span th:text="${article.source}"></span>
                    &nbsp; &nbsp;
                    字号：
                    <a class="font2" ms-click="$f(2,$event)" href="javascript:void(0)"
                       ms-class="dz_curr:detailFont==2">大</a> |
                    <a class="font1" href="javascript:void(0)" ms-click="$f(1,$event)"
                       ms-class="dz_curr:detailFont==1">中</a> |
                    <a class="font0" href="javascript:void(0)" ms-click="$f(0,$event)"
                       ms-class="dz_curr:detailFont==0">小</a>&nbsp; &nbsp;
                    <!--					点击数:（<span th:text="${article.lookCount}? ${article.lookCount} : 0"></span>）-->
                </h5>
            </div>
            <div class="box1" ms-class="font0:detailFont==0" ms-class-1="font1:detailFont==1"
                 ms-class-2="font2:detailFont==2">
                <hr class="hr0"/>
                <div th:utext="${article.content}" class="article-body markdown-body editor-preview-active-side">
                </div>
            </div>

            <div class="fjxz_tit" ms-visible="''!=''">
                <h4>附件下载：</h4>
            </div>
            <div class="xl_list mar-T5" ms-controller="list">
                <ul>

                </ul>
            </div>
            <div class="xglj_tit" ms-controller="list">
                <h4 ms-visible="list.length!=0">相关文档：</h4>
            </div>
            <div class="xl_list mar-T5" ms-controller="list">
                <ul class="pad-T10">
                    <li ms-repeat="list" ms-if-loop="$index<5"><span ms-text="el.time"></span><a
                            ms-attr-href="el.chnldocurl" ms-attr-title="el.title" ms-text="el.title"
                            target="_blank"></a></li>
                </ul>
            </div>
            <div class="xglj_tit" ms-visible="''!=''">
                <h4>相关链接：</h4>
            </div>
            <div class="xl_list mar-T5">
                <ul class="pad-T10">

                </ul>
            </div>


            <div class="xl_btn_icon">

                <div class="bdsharebuttonbox" style="width:200px;float:left;">
                    <span class="fl" style=" line-height: 28px;">分享到：</span>
                    <a title="分享到微信" class="bds_weixin" href="javascript:void(0);" data-cmd="weixin"></a>
                    <a title="分享到新浪微博" class="bds_tsina" href="javascript:void(0);" data-cmd="tsina"></a>
                    <a title="分享到QQ空间" class="bds_qzone" href="javascript:void(0);" data-cmd="qzone"></a>


                </div>
                <script>
                    window._bd_share_config = {
                        "common": {
                            "bdSnsKey": {},
                            "bdText": "",
                            "bdMini": "2",
                            "bdMiniList": false,
                            "bdPic": "",
                            "bdStyle": "0",
                            "bdSize": "16"
                        },
                        "share": {}
                    };
                </script>
            </div>

            <div class="xl_btn_box clearflx">
                <div class="xl_btn_btn">
                    <div class="xl_btn">
                            <span ms-visible="!isFirefox"><a class="radius5" href="#"
                                                             ms-click="$addFav($event, window.location.href ,document.title)">收藏</a></span>
                        <span ms-visible="isFirefox"><a class="radius5"
                                                        href="http://sft.fujian.gov.cn/zwgk/ywbd/sft/202103/t20210315_5548761.htm"
                                                        title="邬勇雷赴三明市调研指导基层司法行政工作"
                                                        rel="sidebar">收藏</a></span>
                        <a href="javascript:window.print();">打印</a>
                        <a href="javascript:window.close();">关闭</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="t_footer" style="margin-top:20px;">
    <p>
        <a href="/bzzx/lxwm/" target="_blank">联系我们</a>|
        <a href="/bzzx/wzsm/" target="_blank">法律声明</a>|
        <a href="/bzzx/zddt/" target="_blank">站点地图 </a>|
        <a href="/bzzx/sybz/" target="_blank">使用帮助</a>|
        <a href="/bzzx/gywm/" target="_blank">关于我们</a>|
        <a href="javascript:void(0);" ms-click="$setHome($event,'http://sft.fujian.gov.cn')">设为首页</a>|
        <a href="javascript:void(0);" ms-visible="!isFirefox"
           ms-click="$addFav($event,'http://sft.fujian.gov.cn','福建省司法厅')">收藏本站</a>
        <a href="http://sft.fujian.gov.cn" ms-visible="isFirefox" title='福建省司法厅' rel="sidebar">收藏本站</a>
    </p>
</div>
<div class="footer clearflx">
    <div class="w-1000  clearflx ">
        <div class="footer_logo fl" style="margin-left:40px;">
            <script type="text/javascript">
                document.write(unescape(
                    "%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/14/000/0000/60388544/CA140000000603885440001.js' type='text/javascript'%3E%3C/script%3E"
                ));
            </script>
        </div>
        <div class="footer_word fl" style="margin:0 20px;">
            <p>Copyright 2005-2018 All Rights Reserved&nbsp;&nbsp;&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;主办单位©福建省司法厅 &nbsp;&nbsp;&nbsp;　投稿邮箱： xxk@sft.fujian.gov.cn </p>
            <p>地址：福州市鼓楼区西门井边亭11号&nbsp;&nbsp;&nbsp;邮编：350003&nbsp;&nbsp;&nbsp;群众来电联系电话：0591-83726141</p>
            <p>
                <a href="http://www.beian.miit.gov.cn/" target="_blank">备案号：
                    闽ICP备06031529号
                </a>
                <span>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan id='cnzz_stat_icon_1275628990'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/stat.php%3Fid%3D1275628990%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
                </span>&nbsp;&nbsp;网站标识码：
                3500000034

                <span style="width:300px;margin:0 auto; padding:20px 0;">
                    <a target="_blank"
                       href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35010202000742"
                       style="display:inline-block;text-decoration:none;height:20px;line-height:20px;" ignoreapd="1">
                        <img src="/img/images/beian.png" style="float:left;"/>
                        <span style="height:20px;line-height:20px;margin: 0px 0px 0px 5px;">闽公网安备
                            35010202000742号</span>
                    </a>
                </span>

            </p>
            <p>技术支持：福建拓尔通软件有限公司 &nbsp;&nbsp;&nbsp;网站访问统计量：
                <span id="siteCount">{{siteCount|addMath}}</span>
            </p>

        </div>
        <div class="fl" style='margin-top:8px;'>
            <script id="_jiucuo_" sitecode='3500000034' src='http://pucha.kaipuyun.cn/exposure/jiucuo.js'></script>
        </div>

    </div>
</div>
<script src="/js/main-built-hnsf.js"></script>
<script src="/js/2016_hnsf.js"></script>
<script>
    (function () {
        var PageInfo = {
            docid: '5548761',
            chnlid: '12714',
            siteid: '36',
            title: "邬勇雷赴三明市调研指导基层司法行政工作",
            chnlname: "司法厅",
            sitename: "省司法厅"
        }
        // 浏览统计begin
        var gkmlId = "12558";
        var gkmlName = "法定主动公开内容";
        var gkmlUrl = "http://sft.fujian.gov.cn/zwgk/zfxxgkzl/zfxxgkml/";
        var chnlUrl = "http://sft.fujian.gov.cn/zwgk/ywbd/sft/";
        if (chnlUrl.indexOf(gkmlUrl) == 0) {
            PageInfo.chnlid = gkmlId;  //强制设置为公开目录的编号
            PageInfo.chnlname = gkmlName;  //强制设置为公开目录的编号
        }
        // 浏览统计end


        if (PageInfo.title == "") {
            PageInfo.title = PageInfo.chnlname;
        }
        if (PageInfo.title == "") {
            PageInfo.title = PageInfo.sitename;
        }

        require(["pageview"], function (pageview) {
            var pvTools = pageview();
            pvTools.view(PageInfo, function (d) {
                if (!d.error) {
                    avalon.vmodels.windowRoot.pvCount = d.pvt;
                    avalon.vmodels.windowRoot.siteCount = d.pvst;
                }
            });
        })

    })();

    avalon.filters.addMath = function (siteCount) {
        siteCount = siteCount + 20000;
        return siteCount;
    }
</script>
<script src='/js/Url.js'></script>
<script>
    var SiteInfo = {

        visitHost: "ptgl.fujian.gov.cn"   //流量域名地址，避免后续有变更

    };
    require(["jquery", "Url", "dialog"], function ($, Url, dialog) {
        $(document).ready(function () {
            var writeHost = [];
            var blackHost = ["220.160.52.99"]
            $("a").click(function () {
                var url = $(this).attr("href");
                var urlObj = new Url(url);
                if (urlObj.scheme) {    //外链或完整的链接
                    if (blackHost.indexOf(urlObj.domain) > -1) {
                        var d = dialog({
                            title: '提示信息',
                            content: '您访问的链接是非政府网站链接，是否继续？',
                            width: 320,
                            okValue: "继续访问",
                            ok: function () {
                                //avalon.log(url)
                                window.open(url);
                            },
                            cancelValue: "放弃",
                            cancel: function () {

                            }
                        });
                        d.show();
                        return false;
                    } else if (/^[\d\.:]*$/.test(urlObj.domain)) { //纯IP类型

                    } else if (writeHost.indexOf(urlObj.domain) > -1) {    //白名单

                    } else if (url.indexOf(".gov.cn") == -1) {
                        var d = dialog({
                            title: '提示信息',
                            content: '您访问的链接是非政府网站链接，是否继续？',
                            width: 320,
                            okValue: "继续访问",
                            ok: function () {
                                //avalon.log(url)
                                window.open(url);
                            },
                            cancelValue: "放弃",
                            cancel: function () {

                            }
                        });
                        d.show();
                        return false;
                    }
                } else {  //本站点内连接

                }
            });
        });
    });
</script>
<script>
    var SITEID = '36'; //流量系统站点主键
    var CHNLID = '12714' || '0';
    var DOCID = '5548761' || '0';
    var CHNLNAME = "司法厅";
    var DOCTITLE = "邬勇雷赴三明市调研指导基层司法行政工作";
    var DOCRELTIME = "2021-03-15";
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + SiteInfo.visitHost + "/visitor/hm.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript" src="/fjdz/ckplayer/ckplayer.js"></script>
<script>
    require(["list"], function (listModel) {
        var reldocids = '';
        var list = listModel({
            Mode: 'wasdoc',
            objArgs: {
                listArgs: {
                    channelid: '229105'
                    , templet: 'docs.jsp'
                    , classsql: 'docid2=' + reldocids // 'siteid=36'
                    , sortfield: '-docorderpri,-docorder'
                }
            },
            autoGetPage: false
        })

        if (reldocids != '') {
            list.getList();
        }
        if (reldocids != '') {
            list.getList();
        }

        var linkurl = '';
        if (linkurl != '') {
            /*视频*begin*/
            //如果你不需要某项设置，可以直接删除，注意var flashvars的最后一个值后面不能有逗号
            var flashvars = {
                f: linkurl, //视频地址
                a: '', //调用时的参数，只有当s>0的时候有效
                s: '0', //调用方式，0=普通方法（f=视频地址），1=网址形式,2=xml形式，3=swf形式(s>0时f=网址，配合a来完成对地址的组装)
                c: '0', //是否读取文本配置,0不是，1是
                x: '', //调用xml风格路径，为空的话将使用ckplayer.js的配置
                i: '', //初始图片地址
                d: '', //暂停时播放的广告，swf/图片,多个用竖线隔开，图片要加链接地址，没有的时候留空就行
                u: '', //暂停时如果是图片的话，加个链接地址
                l: '', //前置广告，swf/图片/视频，多个用竖线隔开，图片和视频要加链接地址
                r: '', //前置广告的链接地址，多个用竖线隔开，没有的留空
                t: '', //视频开始前播放swf/图片时的时间，多个用竖线隔开
                y: '', //这里是使用网址形式调用广告地址时使用，前提是要设置l的值为空
                z: '', //缓冲广告，只能放一个，swf格式
                e: '1', //视频结束后的动作，0是调用js函数，1是循环播放，2是暂停播放并且不调用广告，3是调用视频推荐列表的插件，4是清除视频流并调用js功能和1差不多，5是暂停播放并且调用暂停广告
                v: '80', //默认音量，0-100之间
                p: '1', //视频默认0是暂停，1是播放
                h: '0', //播放http视频流时采用何种拖动方法，=0不使用任意拖动，=1是使用按关键帧，=2是按时间点，=3是自动判断按什么(如果视频格式是.mp4就按关键帧，.flv就按关键时间)，=4也是自动判断(只要包含字符mp4就按mp4来，只要包含字符flv就按flv来)
                q: '', //视频流拖动时参考函数，默认是start
                m: '0', //默认是否采用点击播放按钮后再加载视频，0不是，1是,设置成1时不要有前置广告
                o: '', //当m=1时，可以设置视频的时间，单位，秒
                w: '', //当m=1时，可以设置视频的总字节数
                g: '', //视频直接g秒开始播放
                j: '', //视频提前j秒结束
                k: '', //提示点时间，如 30|60鼠标经过进度栏30秒，60秒会提示n指定的相应的文字
                n: '', //提示点文字，跟k配合使用，如 提示点1|提示点2
                b: '1'
                //调用播放器的所有参数列表结束http://www.fjfao.gov.cn/fjdz/ckplayer/ckplayer/ckplayer.swf
            };
            CKobject.embedSWF('/fjdz/ckplayer/ckplayer.swf', 'spbf_ftsl', 'ckplayer_a1', '659', '369', flashvars);
            /*CKobject.embedSWF(播放器路径,容器id,播放器id/name,播放器宽,播放器高,flashvars的值,其它定义也可省略);*/
            //调用ckplayer的flash播放器结束
            /*
             下面三行是调用html5播放器用到的
             var video='视频地址和类型';
             var support='支持的平台或浏览器内核名称';
             */
            var video = {'': 'video/mp4'};
            var support = ['iPad', 'iPhone', 'ios', 'android+false', 'msie10+false']; //默认的在ipad,iphone,ios设备中用html5播放,android,ie10上没有安装flash的也调用html5
            CKobject.embedHTML5('video', 'ckplayer_a1', 659, 369, video, flashvars, support);
            //如果不想使用html5播放器，只要把上面三行去掉就可以了
            /*end*/
        } else {
            $("#spbf_ftsl").css("display", "none");
        }

    });
</script>
</body>
</html>